@import "../../Styles/variables.scss";


.card {
    font-family: $font-base;
    padding: 4px;

    .card-inner {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: $c-primary-700;
        border-radius: $border-radius;
        font-size: $font-size-medium;

        &:hover {
            cursor: pointer;
            background-color: $c-primary-600;
        }
    }

    .card-image-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-body {
        font-size: $font-size-xsmall;
        padding: 8px;
    }



    .card-header {
        padding: 8px;
        font-size: $font-size-medium;
    }
}
