@import "Degg/Ui/Styles/variables.scss";
@import "Gamemode/Ui/Styles/GameMenuItem.scss";

$color-5: #120458;
$color-4: #7a04eb;
$color-3: #fe75fe;
$color-theme: rgb(81, 211, 213);
$background-gradient: linear-gradient(to bottom, rgb(15, 12, 28) 0%, rgb(32, 24, 69) 100%);
$background-gradient2: linear-gradient(to bottom, #0F1C21 0%, #132935 100%);

.degg-panel {
    font-family: $font-base;
    color: $color-theme;
}

.card {
    .card-inner {
        width: 100%;
        color: $color-theme;
        background-color: rgb(81, 211, 213,0.05);
        border-color: #;
        border-width: 1px;
        border-bottom-width: 2px;
        border-right-width: 2px;
        background: $background-gradient2;

        .card-body {
            font-size: $font-size-xsmall;
            color: rgba(255,255,255,0.8);
        }
    }

    &.upgrade-icon-card {
        height: 100%;
    }

    .card-inner:hover {
        background-color: rgb(81, 211, 213,0.2);
    }

    .card-image {
        width: 120px;
        height: 120px;
    }

    .ship-selector {
        transition: all 0.1s ease-in;
    }
}

.ship-crosshair {
    transform: translateX(-50%) translateY(-50%);
}

// For some reason this needs to be here otherwise styles won't load...
.clear {
}

.degg-fullscreen {
    background: $background-gradient;
}

.help-screen {
    flex-direction: column;

    .help-header {
        font-size: $font-size-large;
        padding-bottom: 32px;
    }

    .help-text {
        font-size: $font-size-small;
        padding: 16px;
    }
}

// This is needed for some reason...
.what {
}


.simple-game-menu-close-button, .simple-game-menu-item-button {
    cursor: pointer;
    color: $color-theme;
    background-color: rgba(0,0,0,0.25);
    border-radius: $border-radius;
    border-color: $color-theme;
    border-width: 1px;
    border-top-width: 0;
    border-left-width: 0;

    &:hover {
        background-color: rgba(0,0,0,0.5);
    }
}

.simple-game-menu-close-button {
    background-color: rgba(0,0,0,0.6);
}




.ship-button {
    opacity: 0.25;

    &.active {
        opacity: 1;

        &:hover {
            .ship-selector {
                transform: rotate(15deg);
                transform: scale(1.25);
            }
        }
    }
}

.ss-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba($color-theme,0.6);
}
