@import "Degg/Ui/Styles/variables.scss";

.card {
    .card-inner {
        color: rgb(81, 211, 213);
        background-color: rgb(81, 211, 213,0.05);
        border-color: #51D3D5;
        border-width: 1px;
        background: linear-gradient(to bottom, rgba(43,237,230,0.05) 0%, rgba(43,237,230,0.1) 100%);
    }

    .card-inner:hover {
        background-color: rgb(81, 211, 213,0.2);

        &:hover {
            .ship-selector {
                color: white;
                transform: rotate(15deg);
                transform: scale(1.25);
            }
        }
    }



    .ship-selector {
        transition: all 0.1s ease-in;
        color: white;
    }
}

.ship-crosshair {
    transform: translateX(-50%) translateY(-50%);
}
