@import "/Degg/Ui/Styles/variables.scss";

.upgrade-panel {
    pointer-events: all;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);

    .inner {
        flex-direction: column;
        align-content: center;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

.cards {
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.upgrade-icons-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.card-icons {
    background-color: red;
    width: 100vw;
    position: absolute;
    bottom: 0;
    height: 40px;
}
.icons {
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.hidden {
    pointer-events:none;
    display: none;
}

@import "/Gamemode/Ui/styles.scss";
