$c-secondary-50: #adc8ef;
$c-secondary-100: #8cb2e9;
$c-secondary-200: #73a2e4;
$c-secondary-300: #6b9ce3;
$c-secondary-400: #4a86dc;
$c-secondary-500: #4a86dc;
$c-secondary-600: #286cce;
$c-secondary-700: #2057a5;
$c-secondary-800: #194584;
$c-secondary-900: #15386b;


$c-primary-50: #EBF6FF;
$c-primary-100: #C2E3FE;
$c-primary-200: #9AD1FE;
$c-primary-300: #85C8FE;
$c-primary-400: #70BFFE;
$c-primary-500: #0078E0;
$c-primary-600: #0057A3;
$c-primary-700: #00417A;
$c-primary-800: #002C52;
$c-primary-900: #001629;

$c-primary: $c-primary-200;
$c-secondary: $c-secondary-400;

$c-primary-dark: #0D456E; 

$fc-primary: rgba(255,255,255,0.95);


$c-primary-dark: #0D456E;
$c-secondary: #E3DFFF;

$c-success: #378F2B;
$c-danger: #E23D41;

$size-sm: 8px;
$size-md: 16px;
$size-lg: 32px;

$border-radius: 8px;

$font-size-large: 48px;
$font-size-medium: 32px;
$font-size-small: 24px;
$font-size-xsmall: 18px;

$font-base: 'FalstinRegular';